.uic-logo-title{
  display:flex;
  
}/*div class for logo and title*/

.uic-logo{
  width: 60px;
} /*Uic logo properties*/


.title-logo{
  color: aliceblue;
  margin-left: 15px;
  margin-top: 15px;
  
}/**/
.header-1{
  display: flex;
  float: left;

}
.header{
  background-color:#27AE60;
  display: flex;

}

